.DS_Store
node_modules/
/lib/
/docs/.vuepress/dist
packages/**/lib
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
